@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
}

.news-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.news-title {
    font-size: 2em;
    margin-bottom: 20px;
}

.news-search {
    margin-bottom: 20px;
}

.news-card .card {
    margin-bottom: 20px;
}

/* ... */
.news-card .card-img-top {
  max-height: 200px;
  object-fit: cover;
}

.news-card .card-body {
  display: flex;
  flex-direction: column;
}

.news-card .card-title {
  font-weight: bold;
  flex-grow: 1;
}

.news-card .news-read-more {
  align-self: flex-start;
  margin-top: auto;
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
}
